
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.new-post {
  padding-bottom: 15px;
}

.new-comment {
  padding-bottom: 10px;
  padding-left: 0;
}

.comment {
  padding: 10px 0;
}

.post-detail {
  margin-bottom: 10px;
}
